exclude .readthedocs.yml
exclude tox.ini
exclude *.swp
prune conf

# Include the README
include *.md

# Include the license file
include COPYING

include *.yapf
include *.txt

recursive-include v2x *.py

include *.yml
include Makefile

# Docs
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs *.yml
recursive-include docs Makefile
recursive-include docs *.rst.template
prune docs/_*
prune docs/env

# Tests
graft tests

# Makeenv
recursive-exclude third_party *.gitmodules
recursive-exclude third_party *.md
recursive-exclude third_party *.mk
recursive-exclude third_party *.ps1
recursive-exclude third_party *.py
recursive-exclude third_party *.template
recursive-exclude third_party *.txt
recursive-exclude third_party *.yml
recursive-exclude third_party Makefile
